{
  "extends": ["@eduzz/eslint-config-houston"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import-helpers/order-imports": "off",
    "sort-imports": "off",
    "import/order": "off",
    "max-lines": "off",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-restricted-imports": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "off",
    "react/no-unescaped-entities": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "linebreak-style": "off"
  }
}
