.assign-permission {
  background: $border-color-1;
  display: flex;
  justify-content: center;
  position: relative;

  .assign-permission__content {
    width: 624px;
    padding-bottom: 34px;
    padding-top: 32px;
    color: $primary-text-color;
  }

  .assign-permission__btns {
    position: absolute;
    top: 8px;
    right: 32px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    color: $primary-color-1;
  }

  .assign-permission__progressline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $approve;
  }
}

.assign-permission__content-finished {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-text-color;
  p {
    margin-top: 32px;
    margin-bottom: 16px;
  }
  img {
    width: 224px;
  }
}

.assign-permission__done {
  background: $border-color-1;
  height: 173px;
  margin-bottom: 107px;
}

.assign-permission__form-done {
  max-width: 624px;
  margin: 0 auto;
  margin-top: 44px;

  .steps-section {
    .done-section {
      max-width: 360px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;

      .partner-text-done {
        width: 303px;
        text-align: center;
      }

      p {
        color: $primary-text-color;
      }

      .done-section__buttons {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: $media-md) {
  .assign-permission__form-done {
    max-width: 90vw;
  }
  .assign-permission {
    .assign-permission__content {
      max-width: 90vw;
    }
  }
}

// ####################### FORM ##########################

.assign-permission__new-form {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: $bg-color;
  color: $primary-text-color;

  .assign-permission__new-form__body {
    width: 624px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .assign-permission__new-form__form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      form {
        width: 100%;

        .form__permission-step {
          p {
            color: $primary-text-color;
          }
          p:nth-child(1) {
            text-transform: uppercase;
          }
          p:nth-child(2),
          p:nth-child(1) {
            margin-bottom: 20px;
          }
        }

        .form__form-group {
          label {
            span:first-child {
              color: $secondary-text-color;
            }
            span:last-child {
              color: $primary-text-color;
            }
          }
        }
      }

      .assign-permission__new-form__submit {
        text-align: right;
        margin-top: 40px;

        button:last-child {
          background: $approve;
          color: white;
          margin-left: 20px;
          &:disabled {
            color: $secondary-text-color;
            background-color: $secondary-color-2;
          }
        }
      }

      p {
        margin: 0;
        background-color: $bg-color;
        padding-left: 5px;
        padding-top: 2px;
      }
    }
  }
}

@media (max-width: $media-md) {
  .assign-permission__new-form {
    .assign-permission__new-form__body {
      width: 80vw;
    }
  }
}
