.container-permission-panel {
  max-width: 624px;
  margin: auto;

  .panel-header {
    padding-top: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      height: auto;
    }
  }

  .panel-header__sub-title {
    margin-top: 35px;
    margin-bottom: 35px;
    color: #546e7a;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
  }

  table {
    th,
    td {
      padding: 8px 0;
    }
  }
}

@media screen and (max-width: $media-md) {
  .container-permission-panel {
    width: 90vw;
  }
}

@media screen and (max-width: $media-sm) {
  .container-permission-panel {
    .panel-header {
      flex-direction: column;

      p {
        text-align: center;
      }

      button {
        margin-top: 24px;
      }
    }
  }
}
