$bg-color: #f9fafb;
$primary-color-1: #0d47a1;
$primary-color-1-hover: #0d47a180;
$secondary-color-2: #b0bec5;
$primary-color-2: #d4d4d4;
$primary-text-color: #37474f;
$secondary-text-color: #546e7a;
$danger-1: #911824;
$danger-2: #f8d7da;
$success-1: #419154;
$success-2: #d4edda;
$confirm: #4bb543;
$approve: #4caf50;
$confirm-hover: #419154;
$white: #fff;
$danger: #f44336;

$border-color-1: #eceff1;
$media-md: 830px;
$media-sm: 440px;
